<div class="home-container">
	<app-cards
	gameCover="assets/stray-cover.jpg"
	gameLabel="DIGITAL"
	gameType="PS5"
	gamePrice=" R$ 129,99"
	></app-cards>
	<app-cards
	gameCover="assets/hogwarts-cover.jpg"
	gameLabel="EXCLUSIVE"
	gameType=" DISC | PS5"
	gamePrice=" R$ 299,99"
	></app-cards>
	<app-cards
	gameCover="assets/the-last-of-us-cover.png"
	gameLabel="DIGITAL"
	gameType="PS5"
	gamePrice=" R$ 249,99"
	></app-cards>
	<app-cards
	gameCover="assets/god-of-war-cover.jpg"
	gameLabel="EXCLUSIVE"
	gameType="DISC | PS5"
	gamePrice=" R$ 299,99"
	></app-cards>
	<app-cards
	gameCover="assets/red-dead-cover.jpg"
	gameLabel="DIGITAL"
	gameType="PS5"
	gamePrice=" R$ 199,99"
	></app-cards>
	<app-cards
	gameCover="https://cdn.awsli.com.br/2500x2500/1313/1313910/produto/173911833/68-opr8vehqyr.jpg"
	gameLabel="DIGITAL"
	gameType="PS5"
	gamePrice=" R$ 199,99"
	></app-cards>
</div>
